.desktop-2-child {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: var(--color-white);
    width: 1440px;
    height: 129px;
  }
  
  .logomakr-18flke-14 {
    position: absolute;
    top: 48px;
    left: 76px;
    width: 289px;
    height: 49px;
  }
  .logomakr-2xjodi-1-icon4 {
    position: absolute;
    top: 20px;
    left: 242px;
    width: 96px;
    height: 56px;
    object-fit: cover;
    cursor: pointer;
  }
  .punanfokus8 {
    top: 34px;
    left: 16px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-montaga);
    cursor: pointer;
  }
  .punanfokus8 a {
    text-decoration: none;
    color: black;
  }
  .blog5,
  .pricing4,
  .punanfokus8 {
    position: absolute;
    line-height: 99%;
  }
  .pricing4 {
    top: 20px;
    left: 748px;
    font-size: var(--font-size-11xl);
    cursor: pointer;
  }
  .blog5 {
    left: 885px;
  }
  .blog5,
  .contact4,
  .sign-in5 {
    top: 20px;
    font-size: var(--font-size-11xl);
    cursor: pointer;
  }
  .contact4 {
    position: absolute;
    left: 983px;
    line-height: 99%;
  }
  .sign-in5 {
    left: 1131px;
  }
  .post-a-job5,
  .priced-to-hire,
  .sign-in5 {
    position: absolute;
    line-height: 99%;
    cursor: pointer;
  }
  .post-a-job5 {
    top: 20px;
    left: 1257px;
    font-size: var(--font-size-11xl);
  }
  .priced-to-hire {
    top: 310px;
    left: 156px;
    font-size: 60px;
    font-weight: 500;
  }
 
  .great-exposure-for-container {
    position: absolute;
    top: 398px;
    left: 158px;
    line-height: 99%;
    font-weight: 300;
    color: var(--color-gray-200);
  }
  .apple-1-icon {
    position: absolute;
    top: 500px;
    left: 193px;
    width: 49px;
    height: 33px;
    object-fit: cover;
  }
  .ea-1-icon,
  .tesla-1-icon,
  .twitter-1-icon {
    position: absolute;
    top: 503px;
    left: 272px;
    width: 40px;
    height: 30px;
    object-fit: cover;
  }
  .ea-1-icon,
  .twitter-1-icon {
    top: 500px;
    left: 358px;
    width: 42px;
    height: 35px;
  }
  .ea-1-icon {
    top: 505px;
    left: 440px;
    width: 56px;
    height: 26px;
  }
  .optional-extras-to {
    position: absolute;
    top: 575px;
    left: 149px;
    font-size: var(--font-size-11xl);
    line-height: 99%;
    font-weight: 500;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-child3,
  .desktop-2-child4,
  .desktop-2-inner,
  .desktop-2-item,
  .ellipse-div {
    position: absolute;
    top: 636px;
    left: 167px;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    width: 10px;
    height: 10px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-child3,
  .desktop-2-child4,
  .desktop-2-inner,
  .ellipse-div {
    left: 523px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-child3,
  .desktop-2-child4,
  .ellipse-div {
    top: 675px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-child3,
  .desktop-2-child4 {
    top: 714px;
  }
  .desktop-2-child2,
  .desktop-2-child3,
  .desktop-2-child4 {
    top: 675px;
    left: 167px;
  }
  .desktop-2-child3,
  .desktop-2-child4 {
    top: 714px;
  }
  .desktop-2-child4 {
    top: 753px;
  }
  .startupjobs-feature,
  .tailwind-css-job,
  .we-work-remotely {
    position: absolute;
    top: 628px;
    left: 193px;
    line-height: 99%;
    color: var(--color-gray-200);
  }
  .startupjobs-feature,
  .tailwind-css-job {
    left: 549px;
  }
  .startupjobs-feature {
    top: 650px;
  }
  .designer-news-job,
  .dribbble-job-board,
  .remotiveio-job-board,
  .uxbooth-newsletter {
    position: absolute;
    top: 709px;
    left: 549px;
    line-height: 99%;
    color: var(--color-gray-200);
  }
  .designer-news-job,
  .dribbble-job-board,
  .uxbooth-newsletter {
    top: 667px;
    left: 193px;
  }
  .designer-news-job,
  .uxbooth-newsletter {
    top: 706px;
  }
  .designer-news-job {
    top: 745px;
  }
  .desktop-2-child5 {
    position: absolute;
    top: 310px;
    left: 816px;
    background-color: var(--color-white);
    box-shadow: 0 5px 4px 5px rgba(0, 0, 0, 0.25);
    width: 454px;
    height: 375px;
  }
  .desktop-2-child6,
  .desktop-2-child7 {
    position: absolute;
    top: 358px;
    left: 850px;
    border-radius: var(--br-7xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 174px;
    height: 191px;
  }
  .desktop-2-child7 {
    left: 1042px;
  }
  .span9 {
    font-size: var(--font-size-smi);
  }
  .mo,
  .mo2 {
    position: absolute;
    top: 416px;
    left: 896px;
    line-height: 99%;
    display: inline-block;
    width: 110px;
    height: 38px;
  }
  .mo2 {
    left: 1088px;
  }
  .desktop-2-child8,
  .line-icon {
    position: absolute;
    top: 443px;
    left: 874px;
    width: 120px;
    height: 1px;
  }
  .desktop-2-child8 {
    left: 1066px;
  }
  .featured-job-listing,
  .standard-job-listing {
    position: absolute;
    top: 463px;
    font-size: var(--font-size-mini);
    line-height: 99%;
  }
  .standard-job-listing {
    left: 860px;
    color: var(--color-darkgray-100);
  }
  .featured-job-listing {
    left: 1052px;
  }
  .featured-job-listing,
  .span12 {
    color: var(--color-darkgray-100);
  }
  .jobs-packages-are-subscription {
    margin: 0;
    color: var(--color-gray-100);
  }
  .days {
    font-weight: 600;
  }
  .jobs-packages-are-container {
    position: absolute;
    top: 520px;
    left: 810px;
    font-size: var(--font-size-smi);
    line-height: 99%;
    white-space: pre-wrap;
    color: var(--color-darkgray-100);
  }
  .desktop-2-child10,
  .desktop-2-child9 {
    position: absolute;
    top: 495px;
    left: 861px;
    border-radius: var(--br-6xs);
    background-color: var(--color-lightskyblue);
    width: 152px;
    height: 26px;
  }
  .desktop-2-child10 {
    left: 1053px;
  }
  .get-started-,
  .get-started-1 {
    position: absolute;
    top: 501px;
    left: 891px;
    font-size: var(--font-size-smi);
    line-height: 99%;
  }
  .get-started-1 {
    left: 1083px;
  }
  .rectangle-icon {
    position: absolute;
    bottom: 0;
    left: calc(50% - 720px);
    width: 1440px;
    height: 314px;
  }
  .group-parent1 {
    top: 1290px;
    left: 1010px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16xl);
    position: absolute;
  }
  .group-icon4{
    width: 40px;
  }
  
  .the-leading-job-container4 {
    position: absolute;
    top: 1280px;
    left: 160px;
    font-size: 20px;
    line-height: 99%;
    font-family: var(--font-ruluko);
    color: white;
  }
  .logomakr-2xjodi-2-icon4 {
    position: absolute;
    top: 1223px;
    left: 310px;
    width: 96px;
    height: 56px;
    object-fit: cover;
  }
  .punanfokus9 {
    position: absolute;
    top: 1250px;
    left: 160px;
    font-size: 29px;
    line-height: 99%;
    font-family: var(--font-ruluko);
    color: white;
  }
  .privacy-policy4 {
    flex: 1;
    position: relative;
    line-height: 99%;
  }
  .privacy-policy-parent2 {
    position: absolute;
    top: 1350px;
    left: 703px;
    width: 577px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-62xl);
    font-size: 20px;
    color: var(--color-black);
  }
  .desktop-2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.93);
    width: 100%;
    height: 1145px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .footer {
    background-color: gray;
    padding: 20;
    color: white;
    height: 300px;
    bottom: 0;
  }
  .footer .punanfokus9{
    color: white;
    
    font-size: var(--font-size-21xl);
    font-family: var(--font-montaga);
    
  }
  .footer .privacy-policy4{
    color: white;
    font-size: 24px;

  }
 .footer  img {
  position: absolute;
  left: 380px;
  width: 96px;
  height: 56px;
  object-fit: cover;
} 
 .group-parent1 img{
  margin-left: 20px;
}
  .desktop-2{
    background-color: rgba(182, 176, 176, 0.352);
  }
  
  .great-exposure{
    position: absolute;
    top: 605px;
    left: 845px;
    font-size: var(--font-size-smi);
    line-height: 99%;
    white-space: pre-wrap;
    color: var(--color-gray-100);
  }
  .great-exposure1{
    color: red;
  }
  .desktop-2{
    background-color: #EFEFEF;;
  }
  .great-exposure-for1{
    position: absolute;
    top: 579px;
    left: 875px;
    font-size: var(--font-size-smi);
    line-height: 99%;
    white-space: pre-wrap;
    color: var(--color-darkgray-100);
  }
  .great-exposure-for2{
    position: absolute;
    top: 610px;
    left: 850px;
    font-size: var(--font-size-smi);
    line-height: 99%;
    white-space: pre-wrap;
    color: var(--color-darkgray-100);
  }